---
import PrimaryCTA from "@/components/ui/buttons/PrimaryCTA.astro";

// Define props from Astro
const { title, subTitle, subTitleStyle, primaryBtn, primaryBtnURL } =
  Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle: string;
  subTitleStyle: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
}
---

<section class="w-full flex justify-center gap-4 px-3 py-8 bg-green-500">
  <!-- Title and description -->
  <div class="flex flex-col">
    <h1 class="flex pr-6 font-oswald text-4xl">
      {title}
    </h1>
    <p class=`mt-6 leading-6 ${subTitleStyle}`>
      {subTitle}
    </p>
    {
      primaryBtn && primaryBtnURL ? (
        <div class="flex mt-4 justify-center">
          <PrimaryCTA title={primaryBtn} url={primaryBtnURL} />
        </div>
      ) : null
    }
  </div>
</section>
