---
// Import SecondaryCTA component for use in this module
import OrderPlanBtn from "@/components/ui/buttons/OrderPlanBtn.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define props from Astro
const { id, pricing } = Astro.props;
---

<section id={id} class="mx-auto px-4 py-10 bg-green-50">
  <!-- Section heading and sub-heading -->
  <div class="mx-auto max-w-2xl mb-6 text-center text-green-500">
    <h2 class="text-balance text-4xl font-oswald tracking-tight">
      {pricing.title}
    </h2>
    <p class="mt-3 text-pretty">
      {pricing.subTitle}
    </p>
  </div>
  <!-- Contains two main product blocks -->
  <div
    class="flex flex-col justify-center items-center gap-4 sm:flex-row sm:gap-0"
  >
    <!-- Starter Kit product details -->
    <div
      class="w-full rounded-xl bg-gradient-to-r from-green-300 to-green-200 p-6 text-white sm:max-w-md sm:rounded-r-none"
    >
      <div class="mb-4">
        <h3 class="text-2xl font-bold text-white">
          {pricing.starterKit.name}
        </h3>
        <p>{pricing.starterKit.description}</p>
      </div>

      <div class="mb-4">
        <span class="text-4xl font-bold">{pricing.starterKit.price}</span>
        <span class="text-lg font-bold">{pricing.starterKit.cents}</span>
        <span class="ms-3 text-sm">{pricing.starterKit.billingFrequency}</span>
      </div>
      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-6 space-y-2">
        {
          pricing.starterKit.features.map((feature: string) => (
            <li class="flex gap-2">
              <Icon name="checkCircle" />
              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA for purchasing the product -->

      <OrderPlanBtn
        title={pricing.starterKit.purchaseBtnTitle}
        url={pricing.starterKit.purchaseLink}
      />
    </div>
    <!-- Professional Toolbox product details -->
    <div
      class="w-full rounded-xl bg-gradient-to-r from-green-400 to-green-300 text-white p-6 shadow-xl sm:max-w-md"
    >
      <div class="flex flex-col items-start justify-between gap-4 text-white">
        <div class="mb-4">
          <h3 class="text-2xl font-bold text-white">
            {pricing.professionalToolbox.name}
          </h3>
          <p>
            {pricing.professionalToolbox.description}
          </p>
        </div>

        <span
          class="order-first inline-block rounded-full bg-green-50 px-3 py-1 text-sm uppercase font-bold text-[#FFA500]"
          >{pricing.badge}</span
        >
      </div>

      <div class="mb-4">
        <span class="text-6xl font-bold"
          >{pricing.professionalToolbox.price}</span
        >
        <span class="text-lg font-bold0"
          >{pricing.professionalToolbox.cents}</span
        >
        <span class="ms-3">{pricing.professionalToolbox.billingFrequency}</span>
      </div>
      <!-- Features list - automatically created by mapping over `features` array -->
      <ul class="mb-6 space-y-2">
        {
          pricing.professionalToolbox.features.map((feature: string) => (
            <li class="flex gap-2">
              <Icon name="checkCircle" />

              <span>{feature}</span>
            </li>
          ))
        }
      </ul>
      <!-- CTA for purchasing the product -->
      <OrderPlanBtn
        title={pricing.professionalToolbox.purchaseBtnTitle}
        url={pricing.professionalToolbox.purchaseLink}
      />
    </div>
  </div>
  <!-- Call to action for Enterprise Solutions -->
</section>
