---
// Import the necessary dependencies
import IconBlock from "@components/ui/blocks/IconBlock.astro";
import Icon from "@components/ui/icons/Icon.astro";

interface Feature {
  heading: string;
  content: string;
  svg: string;
}

interface Props {
  id: string;
  title?: string;
  features?: Feature[];
}
// Define props from Astro
const { id, title, features } = Astro.props;
---

<section
  id={id}
  class="w-full flex flex-col justify-center items-center gap-4 px-3 pt-8 pb-4 bg-grayText text-green-500"
>
  <div class="flex justify-center items-center">
    <h2 class="text-center font-oswald text-4xl">
      {title}
    </h2>
  </div>
  <!-- Block to display the IconBlock components -->
  <div class="py-4">
    <div class="flex flex-col gap-6">
      <!-- Injecting IconBlock components with different properties -->
      {
        features &&
          features.map((feature) => (
            <IconBlock heading={feature.heading} content={feature.content}>
              <Icon name={feature.svg} />
            </IconBlock>
          ))
      }
    </div>
  </div>
</section>
