---
// Import the necessary dependencies
import FooterSocialLink from "@components/ui/links/FooterSocialLink.astro";
import NavigationLinks from "@/components/ui/links/NavigationLinks.astro";
import { navigationData, socialLinks } from "@utils/navigation.ts";
import Icon from "@components/ui/icons/Icon.astro";
import FooterLogo from "@/components/FooterLogo.astro";

// Select the correct translation based on the page's lang prop:

// Define the variables that will be used in this component
---

<footer class="w-full flex flex-col bg-green-500 px-3 pt-3 pb-5">
  <div class="">
    <a
      class="flex-none rounded-lg text-xl font-bold outline-none ring-zinc-500"
      href={"/"}
      aria-label="Brand"
    >
      <FooterLogo />
    </a>
    <div class="flex flex-col py-4 gap-7">
      {
        navigationData.map((link) => (
          <NavigationLinks
            url={`/${link.url}`}
            name={link.name}
            fontColor={"text-grayText"}
          />
        ))
      }
    </div>
  </div>

  <div class="flex justify-between self-center">
    <!-- Social Brands -->
    <div>
      <FooterSocialLink url={socialLinks.facebook}
        ><Icon name="facebookFooter" />
      </FooterSocialLink>
      <FooterSocialLink url={socialLinks.x}
        ><Icon name="xFooter" /></FooterSocialLink
      >
      <FooterSocialLink url={socialLinks.github}
        ><Icon name="githubFooter" />
      </FooterSocialLink>
      <FooterSocialLink url={socialLinks.google}
        ><Icon name="googleFooter" />
      </FooterSocialLink>
      <FooterSocialLink url={socialLinks.slack}
        ><Icon name="slackFooter" />
      </FooterSocialLink>
    </div>
  </div>
</footer>
